<div class="new-park">
    <h3>Add a New Park</h3>
  <div>
    <form {{action 'create' on='submit'}}>
	      <p>Name: {{input value=name}}</p>
	      <p>Picture: {{input type='text' value=imgUrl id='imgUrl' }}</p>
	      <p>Description: {{input value=description}}</p>
	      	<fieldset class="rating">
			    <legend>Rate this park:</legend>
			    <input type="radio" id="star5" name="rating" value="5" />
			    <label for="star5"></label>
			    <input type="radio" id="star4" name="rating" value="4" />
			    <label for="star4"></label>
			    <input type="radio" id="star3" name="rating" value="3" />
			    <label for="star3"></label>
			    <input type="radio" id="star2" name="rating" value="2" />
			    <label for="star2"></label>
			    <input type="radio" id="star1" name="rating" value="1" />
			    <label for="star1"></label>
			</fieldset>
	    <button class="btn">Create</button>
	</form>
  </div>
</div>
