<h1>Park</h1>

<table>
  <tbody>
    {{#each buffer}}
    <tr>
      <td>
        <strong>{{key}}:</strong>
      </td>
      <td>
        {{input value=value}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button {{action 'save'}}>Update</button>

{{outlet}}
