<nav class="main">
    <div class="links">
        {{#link-to "index" classNames="logo navbar-brand"}}Unleashed{{/link-to}}
        <ul class="nav-right">
            <li>{{#link-to "parks"}}<span class="glyphicon glyphicon-tree-deciduous"></span>Parks{{/link-to}}</li>
            <li>{{#link-to "users"}}<span class="glyphicon glyphicon-user"></span>Friends{{/link-to}}</li>
        </ul>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    </div>
</nav>
<div id="main">
    <div class="row">
        {{outlet}}
    </div>
</div>

