<main>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by Zipcode">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" >Go!</button>
      </span>
    </div><!-- /input-group -->
</main>

<!-- {{input type="text" class="search" placeholder="Search by Zip Code" value=searchZip action="query"}}
<p>Or</p>
{{input type="text" class="search" placeholder="Search by Name" value=searchName action="query"}} -->