<main>
	<div class="header-text">
    	<p>Find Dog Parks near you</p>
    </div>
		{{#if latitude}}
	    	{{google-maps latitude=latitude longitude=longitude markers=markers}}
	    {{/if}}
    <div class="body-copy">
        <div class="landing-body-a">
	       <h2>Know who is at the park before you go.</h2>

    	   <p>Using the check-in feature, you can see current park attendees and when they got there.</p>
        </div>
        
        <div class="landing-body-b">
    	<h3>Leave comments and rate parks</h3>
    	<p>Let others know your experiences in parks around your area.</p>
        </div>
    </div>
</main>

