<main>
    {{#if latitude}}
    {{google-maps latitude=latitude longitude=longitude markers=markers}}
    {{/if}}
    <div class="testing">
	    <p>Do you want to Create a Profile?</p>
	    <p>Find Dogparks near you?</p>
    </div>
</main>

