<div class="parks list-group">
		 {{#each}}
		 	<div class="park-card">
		 		<p>{{#link-to 'park' this }}{{name}}{{/link-to}}</p>
			 	<p>{{this.description}}</p>
				<p>{{#link-to 'park' this }}<img {{bind-attr src=imgUrl}} />{{/link-to}}</p>
			</div>
		 {{/each}}
</div>	
		 <button class="btn new-class">{{#link-to "parks.new_park"}}<span class="glyphicon glyphicon-plus"></span>New{{/link-to}}</button>

{{outlet}}

