<button class="btn new-class">{{#link-to "parks.new_park"}}<span class="glyphicon glyphicon-plus"></span>New{{/link-to}}</button>
<div class="parks list-group wrapper testing">
		 {{#each}}
		 	<div class="park-card">
		 		<p>{{#link-to 'park' this }}{{name}}{{/link-to}}
			 	{{this.description}}</p>
				<img {{bind-attr src=imgUrl}} />
			</div>
		 {{/each}}
</div>	


{{outlet}}

