<div class="users">
	<h1>users</h1>
	
	<ul>
	 {{#each}}
	 <li>{{#link-to 'user' this}}
	 	{{userName}}
	 	<img {{bind-attr src=userImgUrl}} />
	 {{/link-to}}</li>
	  {{/each}}
	</ul>

</div>

{{outlet}}
