<div class="users">
	<h1>Friends</h1>
	
	<ul>
	 {{#each}}
	 <li>{{#link-to 'user' this}}
	 	<img {{bind-attr src=userImgUrl}} />
	 	<p>{{userName}}</p>
	 {{/link-to}}</li>
	  {{/each}}
	</ul>
    <h3>Not on this list?</h3>
	<button class="btn">
		{{#link-to "new_user"}}<span class="glyphicon glyphicon-plus"></span>Make a Profile{{/link-to}}
	</button>
</div>


{{outlet}}
