<div class="user wrapper">
		<div class="c30">
			<img {{bind-attr src=userImgUrl}} class="user-page"/>
		</div>
		<div class="c70">
			<h1>{{userName}}</h1>
			<p>Breed: {{breed}}</p>
			<p>Interests: Chasing Squirrels</p>
			<p>Favorite Park: Walsingham</p>
			{{#link-to 'user.edit_user' model}}Change{{/link-to}}
		</div>
</div>
{{outlet}}
